.content-container {
    display: flex;
    width: 95%;
    height: 400px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    gap: 20px;
    background-color: transparent;
    padding: 7px;
}

.cover-image-cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    width: 65%;
    border-radius: 10px;
}

.cover-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
  }

.text-container {
    width: 400px;
    flex-grow: 1;
    height: 100%;
    padding: 10px;
    padding-top: 5px;
    border-radius: 5px;
    overflow-y: hidden;
    box-sizing: border-box;
    border-radius: 10px;
}

.text-container hr {
    height: 2px;
    background-color: grey;
    margin: 10px 0;
}

.text-container a {
    text-decoration: none;
}

.text-container .post-meta {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

.text-container .post-meta .published {
    margin-left: 0.3rem;
    font-size: smaller;
    font-weight: bold;
}
.title-news {
    padding-top: 10px;
    font-size: 1.2rem;
}

a h5:hover{
    color: #0072ff;
}

.short-description {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 0.85rem
}

@media only screen and (max-width: 1000px) {
    .content-container {
        flex-direction: column;
        width: 60%;
        height: auto;
        gap: 5px;
    }
    .cover-image-cont {
        width: 100%;
    }
    .title-news {
        padding-top: 10px;
        font-size: 1.1rem;
    }
    .text-container {
        width: 100%;
        max-height: 200px;
        padding-top: 1px;
    }
    .short-description {
        -webkit-line-clamp: 3;
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 768px) {
    .content-container {
        flex-direction: column;
        width: 100%;
        gap: 0px;
        height: auto;
    }
    
    .cover-image-cont {
        width: 100%;
    }

    .text-container {
        width: 100%;
        max-height: 200px;
    }
    .text-container .post-meta {
        font-size: 0.7rem;
    }
   
    .short-description {
        font-size: 0.8rem;
        -webkit-line-clamp: 3;
    }
}

.nested-dropdown {
    position: relative;
  }
  
  .nested-dropdown-toggle {
    cursor: pointer;
  }
  
  .nested-dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 200px;
    background-color: inherit;
    z-index: 1;
  }
  
  .nested-dropdown:hover .nested-dropdown-content {
    display: block;
  }

  @media only screen and (max-width: 800px) {
    .nested-dropdown {
        position: relative;
        display: block;
        margin-bottom: 10px;
    }

    .nested-dropdown-toggle {
        cursor:auto;
        display: block;
    }

    .nested-dropdown-content {
        display: block;
        position: initial;
        min-width: 160px;
        background-color: inherit;
        box-shadow: none;
        z-index: 1;
        padding-left: 1rem;
    }
    .dropdown-item:hover {
        background-color: #f1f1f1;
    }
}

.icon-gif{
    height: 40px;
    width: 40px;
}