.picture-grid {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap !important;
}


.picture-grid .individual-container {
    display: flex;
    max-width: 180px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    border: 1px dotted red;
    margin: 15px;
}

.picture-grid .individual-container .role-box {
    position: relative;
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    max-width: 100%;
}

.picture-grid .individual-container .info-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 180px;
    
    height: inherit;
    border: 1px dotted green;
}

.picture-grid .individual-container .info-container .person-name {
    position: relative;
    display: flex;
    text-align: center;

    top: 15px;
    border: 1px dotted orange;
    max-width: 80%;
    max-height: 62px;
    overflow:hidden;
}

.picture-grid .individual-container .info-container .rounded-picture {
    position: absolute;
    display: flex;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 30%;
    border: 1px dotted orange;
    box-shadow: 0 0 5px #112F41;
}

.picture-grid .individual-container .info-container .small-bio {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;

    bottom: 20px;
    width: 120px;
    height: 40px;
    border: 1px dotted orange;
    background-color: orange;
    border-radius: 10%;
}