//Try to look into only have one container, not something separate for the rest of it. This should help clean it up I hope!
//Do a complete redesign of it with only 1 container, this should help with the cards being able to handle overflow!


.picture-grid {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap !important;
}


.picture-grid .individual-container {
    display: flex;
    max-width: 180px;
    height: 300px auto;
    flex-direction: column;
    align-items: center;
    border: 1px dotted red;
    margin: 15px;
}

.picture-grid .individual-container .role-box {
    position: relative;
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    max-width: 100%;

    word-wrap: break-all;
}

.picture-grid .individual-container .info-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 180px;
    
    height: 100%;
    border: 1px dotted green;

    padding-bottom: 42px;
}

.picture-grid .individual-container .info-container .person-name {
    position: relative;
    display: flex;
    text-align: center;

    top: 0px; //was 15px
    margin-top: 5%;
    border: 1px dotted orange;
    max-width: 85%;
    
    //These two settings make it so there's a max amount for the role box
    //max-height: 62px;
    //overflow: hidden;
    text-overflow: ellipsis;;
}

.picture-grid .individual-container .info-container .rounded-picture {
    position: relative;
    display: flex;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 0px; //was 30%
    border: 1px dotted orange;
    box-shadow: 0 0 5px #112F41;
    margin: 20% 0px;
}

.picture-grid .individual-container .info-container .small-bio {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 20px; 
    bottom: 0px;

    width: 120px;
    height: 40px;
    border: 1px dotted orange;
    background-color: orange;
    border-radius: 10%;
}