.picture-grid {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
}

.picture-grid .individual-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 180px;
    height: 300px auto;
    margin: 15px;

    box-shadow: 0px 3px 10px 0px rgba(76, 82, 103, 0.15);
    padding: 1em;
    border: 1px solid #ebecf0;
    border-radius: 3px;
}

.picture-grid .individual-container .info-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 180px;
    height: 100%;
}

.picture-grid .individual-container .info-container .rounded-picture {
    height: 100px;
    object-fit: contain;
    width: 100px;
    border:1px solid lightgray;
    border-radius: 50%;
    margin-bottom: 5px;
}

.picture-grid .individual-container .info-container .person-name {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;;
    margin-top: 10px;
}

.picture-grid .individual-container .info-container .small-bio {
    margin-bottom: 36px; 
    font-size: .8em;
    color: #0072ff;
}

.picture-grid .individual-container .info-container .small-bio a {
    text-decoration: none;
}

.picture-grid .individual-container .info-container .small-bio a:hover {
    color: inherit;
}

.picture-grid .individual-container .info-container .role-box {
    text-align: center;
    width: 100%;
    //max-height: 60px; //This restricts the height of the card to two lines of text
    overflow: hidden;
    word-wrap: break-all;
}

.picture-grid .individual-container .info-container .role-box a {
    font-weight: 600;
    color: #4c5267;
    text-decoration: none;
}

.picture-grid .individual-container .info-container .role-box a:hover {
    color: #0072ff;
}

.anchor-offset:target::before {
    content: "";
    height: 81px;
    margin: -81px 0px 0px;
    display: block;
}