.presentation {
    position: relative; 
    display: flex; 
    flex-direction: column;
    justify-content: start;  
    margin-bottom: 45px;
}

.presentation .presentation_section {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    width: 100%;
    flex-flow: wrap;
}

.presentation .presentation_section .info-box {
    display: flex;
    justify-content: center; 
    align-items:center; 
    width: 100%;
}

.presentation .presentation_section .preview-box {
    width: 100%;
    aspect-ratio: 16/9;
}


.subheading {
    display: flex;
    justify-content: center;
}
