.presentation {
    position: relative; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;  
    margin-bottom: 45px;
}

.presentation .presentation_section {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    width: 100%;
    flex-flow: wrap;
}

.presentation .presentation_section .info-box {
    display: flex;
    justify-content: center; 
    align-items:center; 
    width: 100%;
}

.presentation .presentation_section .preview-box {
    width: 70%;
    margin-bottom: 30px;
    aspect-ratio: 16/9;
}

.presentation .presentation_section .preview-box > a{
    text-decoration: none;
}

.subheading {
    display: flex;
    justify-content: center;
}

.presentation .presentation_section .preview-box .preview-image{
    margin-bottom: 30px;
}