{{ $action := .action }}
{{ $action_style := $action.style | default "link" }}
{{ $action_icon := $action.icon | default "arrow-left" }}
{{ $action_icon_pos := $action.icon_position | default "left" }}
{{ if ne $action_style "dropdown" }}
<a href="{{ $action.url | relURL }}"
  {{ if $action.new_window }} target="_blank"{{ end }}
  {{ if or $action.new_window $action.no_follow }} rel="{{ if $action.new_window }}noopener {{ end }}{{ if $action.no_follow }}nofollow{{ end }}"{{ end }}
  class="{{ if or (eq $action_style "primary") (eq $action_style "secondary") }}button{{ end }}{{ if eq $action_style "secondary" }} secondary{{ end }}{{ if $action.has_icon }} has-icon{{ end }}">
   {{ if $action.has_icon }} 
    {{ $include_dict := dict "icon" $action_icon }}
    {{ partial "icon.html" $include_dict }}
  {{ end }}
  <span {{ if eq $action_icon_pos "right" }}class="order-first"{{ end }}>{{ if ne $action_style "dropdown"}} {{ $action.label }} {{end}}</span>
</a>
{{end}}
{{ if $action.has_icon }} 
    {{ $include_dict := dict "icon" $action_icon }}
    {{ partial "icon.html" $include_dict }}
{{ end }}
  {{ if eq $action_style "dropdown"}}
  <span class="{{ if eq $action_icon_pos "right" }}order-first{{ end }} dropdown-span-padding"> {{ $action.label }}</span>
    <div class="dropdown {{ if $action.has_icon }} has-icon{{ end }}">
    {{ range $action_item := $action.sub_items }}
        {{ $page_url := trim $.URL "/" }}
        {{ $action_url := trim $action_item.url "/" }}
        {{ $action_style := $action_item.style | default "link" }}
        {{ $include_dict := dict "action" $action_item }}
        {{ partial "dropdown_item.html" $include_dict }}
    {{ end }}
    </div>
{{ end }}