{{ $action := .action }}
{{ $action_style := $action.style | default "link" }}
{{ $action_icon := $action.icon | default "arrow-left" }}
{{ $action_icon_pos := $action.icon_position | default "left" }}
{{ $page_url := trim $.URL "/" }}
{{ $action_url := trim $action.url "/" }}
<a href="{{ $action.url | absURL}}" target="_blank" rel="{{ if $action.new_window }}noopener {{ end }}{{ if $action.no_follow }}nofollow{{ end }}"
    class="{{ if eq $page_url $action_url }} current-menu-item{{ end }} dropdown-item">
    <span class="{{ if eq $action_icon_pos "right" }} order-first{{ end }} {{ if eq $action_url  $page_url }} current-menu-item{{ end }}"> {{ $action.label }} </span>
    {{ if $action.has_icon }} {{ $include_dict := dict "icon" $action_icon }} {{ partial "icon.html" $include_dict }} {{ end }}
</a>

