{{ $section := .section }}
<section id="{{ $section.section_id }}" class="block hero-block outer" style="padding: 0%; aspect-ratio: 16/9;">
  <div id="hero-background-video-outer">
    <video autoplay loop muted id="hero-background-video">
      <source src="https://drive.google.com/uc?export=view&id=1RTgPOF7DsUqPGb5Wn21SW_6MRI-vc9vS" type="video/mp4" >
    </video>
  </div>
  <div class="inner" id="hero-main-content">
    <div class="grid" >
      {{ if $section.image }}
      <div class="cell block-preview">
        <img src="{{ $section.image | relURL }}" alt="{{ $section.image_alt }}" />
      </div>
      {{ end }}
      <div class="cell block-content">
        {{ if $section.title }}
        <h2 class="block-title underline" style="color: white;">{{ $section.title }}</h2>
        {{ end }}
        <div class="block-copy" style="color: white;">
          {{ partial "markdownify-block" $section.content }}
        </div>
        {{ if $section.actions }}
        <div class="block-buttons">
          {{ $include_dict := dict "actions" $section.actions }}
          {{ partial "cta_buttons.html" $include_dict }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section><!-- .block -->
