{{ range $article := site.Data.articles.articles }}
<div class="presentation">
    <div class="">
        <div class="">
            <h2>{{ $article.title }}</h2>
            <h6><strong>Published on {{$article.date}}</strong></h6>
            <div class="cover-image-container" id="container_{{ $article.article_id }}">
                <img class="cover-image" src="{{ $article.cover_image }}" alt="Preview image for: {{ $article.title }}">
                <span class="focus-image" id="Image-{{ $article.article_id }}">Expand</span>
            </div>
            <div class="readmore">
                {{range $paraNo, $paraText := $article.content}}
                {{ if eq (index (split $paraNo "_") 1) "img" }}
                <img class="content-image" src="{{$paraText}}" alt="Content Image">
                {{ else }}
                <p>{{ $paraText | safeHTML }}</p>
                {{ end }}
                {{end}}
                <!-- <section >
                    <p><strong>People Involved:</strong> {{delimit $article.people_involved_ids ", "}}</p>
                </section>
                <section class="links">
                    <p><strong>Important Links:</strong></p>
                    {{range $linkId, $linkValue := $article.links}}
                    <ul>
                        <li><a href="{{ $linkValue }}">{{$linkId}}</a></li>
                    </ul>
                    {{end}}
                </section> -->
                <span class="readmore-link" id="{{$article.article_id}}">Read More</span>
            </div>
        </div>
    </div>
</div>
{{ end }}

<script>
    const readMoreLinks = document.querySelectorAll(".readmore-link");

    readMoreLinks.forEach(link => {
        link.addEventListener("click", function (e) {
            const clickedElement = document.getElementById(this.id);
            const content = clickedElement.parentNode; // Get parent readmore container
            const isExpanded = content.classList.contains("expand");

            // Close all open paragraphs within the same article
            const currentArticle = clickedElement.closest(".presentation");
            const allExpanded = currentArticle.querySelectorAll(".readmore.expand");
            allExpanded.forEach(expanded => expanded.classList.remove("expand"));

            // Toggle expand class, text content, and link height
            if (!isExpanded) {
                content.classList.add("expand");
                this.textContent = "Read Less";
                this.style.height = "19px";
            } else {
                content.classList.remove("expand");
                this.textContent = "Read More";
                this.style.height = null;
            }
        });
    });

    document.querySelectorAll('.focus-image').forEach(button => {
    button.addEventListener('click', () => {
        const articleId = button.id.split('-')[1];
        const containerId = `container_${articleId}`;
        const container = document.getElementById(containerId);
        if (container) {
            if (container.classList.contains('expanded')) {
                container.classList.remove('expanded');
                button.textContent = 'Expand';
            } else {
                container.classList.add('expanded');
                button.textContent = 'Collapse';
            }
        } else {
            console.log('Container not found:', containerId);
        }
    });
});



</script>