{{ range $article := sort site.Data.articles.articles }}
<div class="presentation">
    <div class="">
        <div class="">
            <h4>{{ $article.title }}</h4>
            <h6><strong>Published By</strong> {{$article.author_id}} on {{$article.date}}</h6>
            <img class="cover-image" src="{{ $article.cover_image }}" alt="Preview image for: {{ $article.title }}" class="preview-image">
            <p><strong>Summary: </strong>{{$article.short_description}}</p>
            <div class="all-content">
                {{range $paraNo, $paraText := $article.content}}
                {{ if eq (index (split $paraNo "_") 1) "img" }}
                <img class="content-image" src="{{$paraText}}" alt="Content Image">
                {{ else }}
                <p class="more-text">{{ $paraText }}</p>
                {{ end }}
                {{end}}
            </div>
            <button onclick="myFunction(this)" class="myBtn">Read more</button>
            <section class="people-involved">
                <p><strong>People Involved:</strong> {{delimit $article.people_involved_ids ", "}}</p>
            </section>
            <section>
                <p><strong>Important Links:</strong></p>
                {{range $linkId, $linkValue := $article.links}}
                <ul>
                    <li><a href="{{ $linkValue }}">{{$linkId}}</a></li>
                </ul>
                {{end}}
            </section>
        </div>
    </div>
</div>
{{ end }}

<script>
    function myFunction(btn) {
        const allContent = btn.parentNode.querySelectorAll(".all-content");
        if (allContent.length === 0) return; // No additional text to toggle

        allContent.forEach(function (element) {
            if (element.style.maxHeight && element.style.maxHeight !== '0px') {
                element.style.maxHeight = '0px';
                btn.innerHTML = "Read more";
            } else {
                element.style.maxHeight = element.scrollHeight + 'px'; // Set maxHeight to scrollHeight
                btn.innerHTML = "Read less";
            }
        });
    }

</script>