<table>
    <thead>
        <tr>
            <th>Program</th>
            <th>Name</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        {{ range $key, $data := site.Data.members }}
            {{ if isset $data "years" }}
                {{ range $year, $yearData := $data.years }}
                    {{ $presentYear := now.Year }}
                    {{ if ne (string $year) (string $presentYear) }}
                        {{ if in $yearData.role "participant" }}
                        <tr>
                           
                            <td>GSoC {{ $year }}</td>
                            <td>{{ $data.first_name }} {{ $data.last_name }}</td>
                            <td>
                                {{ if isset $yearData "project_link" }}
                                    <a href="{{ $yearData.project_link }}" target="_blank">{{ $yearData.project_title }}</a>
                                {{ else }}
                                    {{ $yearData.project_title }}
                                {{ end }}
                            </td>
                            {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
    </tbody>
</table>
