<table>
    <thead>
        <tr>
            <th>Program</th>
            <th>Name</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        {{ range $key, $data := site.Data.members.gsoc_participants }}
            {{ if isset $data "years" }}
                {{ range $year, $yearData := $data.years }}
                    {{ $presentYear := now.Year }}
                    {{ if ne (string $year) (string $presentYear) }}
                        {{ if in $yearData.role "participant" }}
                        <tr>
                            <td>GSoC {{ $year }}</td>
                            <td>{{ $data.first_name }} {{ $data.last_name }}</td>
                            <td>
                                {{ if isset $yearData "project_link" }}
                                    <a href="{{ $yearData.project_link }}" target="_blank">{{ $yearData.project_title }}</a>
                                {{ else }}
                                    {{ $yearData.project_title }}
                                {{ end }}
                            </td>
                        </tr>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    // Function to sort the table by year
    function sortTable() {
        let table = document.querySelector("#past-participants + table");
        let tbody = table.querySelector("tbody");
        
        let rows = Array.from(tbody.querySelectorAll("tr")).sort((a, b) => {
            let yearA = parseInt(a.cells[0].textContent.trim().split(' ')[1]);
            let yearB = parseInt(b.cells[0].textContent.trim().split(' ')[1]);
            return yearB - yearA; // descending order
        });
        
        rows.forEach(row => tbody.appendChild(row));
    }

    sortTable();
});

</script>