<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        {{ range $key, $data := site.Data.members }}
            {{ if isset $data "category" }}
                {{ if in $data.category "participant" }}
                    {{ range $year, $yearData := $data.years }}
                        <tr>
                            <td>{{ $data.first_name }} {{ $data.last_name }}</td>
                            <td>{{ $year }}</td>
                            <td>
                                {{ if isset $yearData "project_link" }}
                                    <a href="{{ $yearData.project_link }}">{{ $yearData.project_title }}</a>
                                {{ else }}
                                    {{ $yearData.project_title }}
                                {{ end }}
                            </td>
                        </tr>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </tbody>
</table>
