{{ range $member := site.Data.members.current_tardis_collaborators }}
<div class="individual-container" id="{{ $member.full_name | urlize }}">
    <div class="info-container">
        {{ $imagePath := printf "../../members/%s/%s" $member.member_id $member.image_path }}
        {{ $defaultImg := "../../members/me.jpeg" }}
        {{ $imageParts := split $member.image_path "/" }}
        {{ if lt (len $imageParts) 3 }}
        <img class="rounded-picture" src="{{ $defaultImg }}">
        {{ else }}
        <img class="rounded-picture" src="{{ $imagePath }}">
        {{ end }}
        <div class="person-name">{{ $member.full_name }}</div>
        <div class="small-bio" style="font-size: medium; color: rgb(102, 100, 100);">
            {{ with $member.start_year }}
            Since {{ . }}
            {{ end }}
        </div>
        {{ with $member.expertise }}
        {{ range $expertise := . }}
        <div class="role-box" style="font-size: small;">
            <div href="#{{ $expertise | urlize }}"><strong>
                    {{ $expertise }}
                </strong></div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}