{{ range $member := site.Data.members.current_tardis_core_team }}
<div class="individual-container">
    <div class="info-container">
        <img class="rounded-picture" src="../../members/{{ $member.member_id }}/{{ $member.image_path }}">
        <div class="person-name">{{ $member.full_name }}</div>
        <div class="role-box" style="font-size: small;">
            {{ range $role := $member.roles }}
            <a href="#{{ $role.role | urlize }}">{{ $role.role }}<br></a>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}