
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th style="text-align: right;">Year</th>
        </tr>
    </thead>
    <tbody>
        {{ range $key, $data := site.Data.members }}
            {{ $yearsMentored := slice }}
            {{ if isset $data "years" }}
                {{ range $year, $yearData := $data.years }}
                    {{ $presentYear := now.Year }}
                    {{ if ne (string $year) (string $presentYear) }}
                        {{ if in $yearData.role "core" }}
                            {{ $yearsMentored = $yearsMentored | append $year }}
                        {{ end }}
                    {{ end }}
                {{ end }}
                {{ if $yearsMentored }}
                    <tr>
                        <td>{{ $data.first_name }} {{ $data.last_name }}</td>
                        <td style="text-align: right; font-size: medium; width: 35%;">
                            {{ range $i, $year := $yearsMentored }}
                                {{ if ne $i 0 }}, {{ end }}
                                {{ $year }}
                            {{ end }}
                        </td>
                    </tr>
                {{ end }}
            {{ end }}
        {{ end }}
    </tbody>
</table>