{{ range $key, $member := .Site.Data.members.core_members }}
    <div class="individual-container">
        <div class="info-container">
            <img class="rounded-picture" src="../../members/{{ $key }}/{{ $member.image_path }}">
            <div class="person-name">{{ $member.first_name }} {{ $member.last_name }}</div>
            <div class=small-bio style="font-size: medium; color: rgb(102, 100, 100);"  >
                <!--Since - {{ substr .start_date -4 4 }}-->
            </div>
            {{ with $member }}
                {{ with .experiences }}
                    {{range .}}
                        {{ with .tardis_core_team}}
                            {{range .role}}
                                <div class="role-box">
                                    <a href="#{{ . | urlize }}">{{ . }}</a>
                                </div>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}


