<table>
    <thead>
        <tr>
            <th>Name</th>
            <th style="text-align: right;">Year</th>
        </tr>
    </thead>
    <tbody>
        {{ $members := .Site.Data.members.core_members }}
        {{ range $member := $members }}
            {{ $yearsMentored := slice }}
            {{ with $member.years }}
                {{ range $year, $yearData := . }}
                    {{ $presentYear := now.Year }}
                    {{ if ne (string $year) (string $presentYear) }}
                        {{ if in $yearData.role "core" }}
                            {{ $yearsMentored = $yearsMentored | append $year }}
                        {{ end }}
                    {{ end }}
                {{ end }}
                {{ if $yearsMentored }}
                    <tr>
                        <td>{{ $member.first_name }} {{ $member.last_name }}</td>
                        <td style="text-align: right; font-size: medium; width: 35%;">
                            {{ range $i, $year := $yearsMentored }}
                                {{ if ne $i 0 }}, {{ end }}
                                {{ $year }}
                            {{ end }}
                        </td>
                    </tr>
                {{ end }}
            {{ end }}
        {{ end }}
    </tbody>
</table>
