{{ range $key, $data := site.Data.members.gsoc_mentors }}
    {{ $gsoc_mentorship := index $data "gsoc_mentorship" }}
    {{ range $gsoc := $gsoc_mentorship }}
        {{ $yearData := index $gsoc "year" }}
        {{ if eq (printf "%v" $yearData) "2023" }}
            <div class="individual-container">
                <div class="info-container">
                    <img class="rounded-picture" src="../../members/{{ $data.id }}/{{ $data.image_path }}">
                    <div class="person-name">{{ $data.first_name }} {{ $data.last_name }}</div>             
                    <div style="font-size: small;" class="role-box"><a href="{{ $gsoc.project_link }}" target="_blank">{{ $gsoc.project_title }}</a></div>
                </div>
            </div>
        {{ end }}
    {{ end }}
{{ end }}
