{{ range $key, $data := site.Data.members.gsoc_participants }}
    <div class="individual-container">
        <div class="info-container">
            <img class="rounded-picture" src="../../members/{{ $key }}/{{ $data.image_path }}">
            <div class="person-name">{{ $data.first_name }} {{ $data.last_name }}</div>
            {{ with $data }}
                {{ with .experiences }}
                    {{range .}}
                        {{ with .gsoc_participation }}
                            {{ range .}}
                                <div style="font-size: small;" class="role-box">
                                    <a href="{{ .project_link }}" target="_blank">
                                        {{.project_title }}
                                    </a>
                                </div>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}