{{ range $key, $data := site.Data.members }}

		<div class="individual-container">
			<div class="info-container">
				<img class="rounded-picture"
					src="../../members/{{ $data.id }}/{{ $data.image_path }}">
				<div class="person-name">{{ $data.first_name }} {{ $data.last_name }}</div>
				<div class="small-bio"><a href="#" target="_blank" rel="noopener nofollow">More Info</a></div>
				<div class="role-box"><a href="#ombudsperson">{{ $data.tardis_primary_role }}</a></div>
				<div class="role-box"><a href="#ombudsperson">{{ $data.tardis_secondary_role }}</a></div>

			</div>
		</div>

{{ end }}