{{ $members := .Site.Data.members.gsoc_mentors}}
{{ $presentYear := now.Year }}

{{ range $member := $members }}
    {{ range $experience := $member.experience }}
        {{ with $experience.gsoc_mentor }}
            {{ if not .end_year }}
                <div class="individual-container">
                    <div class="info-container">
                        <img class="rounded-picture" src="../../members/{{ $member.id }}/{{ $member.image_path }}">
                        <div class="person-name">{{ $member.first_name }} {{ $member.last_name }}</div>


                    </div>
                </div>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
