{{ range $key, $data := site.Data.members }}
{{ if isset $data "years" }}
    {{ $presentYear := now.Year }}
    {{ $yearData := index $data.years (string $presentYear) }}
    {{ if $yearData }}
        {{ if in $yearData.role "participant" }}
                <div class="individual-container">
                    <div class="info-container">
                        <img class="rounded-picture" src="../../members/{{ $data.id }}/{{ $data.image_path }}">
                        <div class="person-name">{{ $data.first_name }} {{ $data.last_name }}</div>             
                        <div  style="font-size: small;" class="role-box"><a href="{{ $yearData.project_link }}" target="_blank">{{ $yearData.project_title }}</a></div>
    
                    </div>
                </div>
                {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
