<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Expertise</th>
        </tr>
    </thead>
    <tbody>
        {{ range $collaborator, $collaboratorData := site.Data.members.past_tardis_collaborators }}
        {{ $start_year := index (split $collaboratorData.start_year "-") 0 }}
        {{ $end_year := index (split $collaboratorData.end_year "-") 0 }}
        <tr>
            <td>{{ $collaboratorData.full_name }} ({{ $start_year }} - {{$end_year }})</td>
            <td>{{ delimit $collaboratorData.expertise ", " }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>