
{{ range $key, $data := site.Data.members.core_members }}
    {{ if isset $data "tardis_core_team" }}
        {{ if and (isset $data.tardis_core_team "start_date") (and (isset $data.tardis_core_team "end_date")) }}

            {{ if not (in ($.Scratch.Get "processedMembers") $data.first_name) }}

                {{ $.Scratch.Add "processedMembers" (slice $data.first_name) }}
                
              
                <div class="individual-container">
                    <div class="info-container">
                        <img class="rounded-picture" src="../../members/{{ $data.id }}/{{ $data.image_path }}">
                        <div class="person-name">{{ $data.first_name }} {{ $data.last_name }}</div>
                        <div class="small-bio" style="font-size: medium; color: rgb(102, 100, 100);"> {{ $data.tardis_core_team.start_date }} - {{ $data.tardis_tardis_core_team.end_date }}</div>
           
                       
                            {{ range $data.tardis_core_team.role }}
                            <div class="role-box" style="font-size: small;"><a href="#{{ . | urlize }}">{{ . }}</a></div>
                            {{ end }}
                       
                    </div>
                </div>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}



