{{ $currentYear := int site.Params.gsoc_year }}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Years</th>
        </tr>
    </thead>
    <tbody>
        {{ range $admin, $adminData := site.Data.members.gsoc_admins }}
        {{ $pastYears := slice }}
        {{ range $adminData.years }}
            {{ if lt (int .) $currentYear }}
                {{ $pastYears = $pastYears | append . }}
            {{ end }}
        {{ end }}
        {{ if $pastYears }}
        <tr>
            <td>{{ $adminData.full_name }}</td>
            <td>{{ delimit $adminData.years ", " }}</td>
        </tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>
