<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Years</th>
        </tr>
    </thead>
    <tbody>
        {{ range $key, $data := site.Data.members.gsoc_mentors }}
            {{ $mentorName := printf "%s %s" $data.first_name $data.last_name }}
            {{ $gsoc_mentorship := index $data "gsoc_mentorship" }}
            {{ $mentorYears := slice }}
            {{ range $gsoc := $gsoc_mentorship }}
                {{ $yearData := index $gsoc "year" }}
                {{ if and (ne (printf "%v" $yearData) "2023") (ne (printf "%v" $yearData) "") }}
                    {{ $mentorYears = $mentorYears | append (printf "%v" $yearData) }}
                {{ end }}
            {{ end }}
            {{ if gt (len $mentorYears) 0 }}
                <tr>
                    <td>{{ $mentorName }}</td>
                    <td>{{ delimit $mentorYears ", " }}</td>
                </tr>
            {{ end }}
        {{ end }}
    </tbody>
</table>
