{{ range $data := site.Data.members.past_gsoc_participants }}
<h3>{{ $data.year }}</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        {{ range $key, $participant := $data.info }}
            <tr>
                <td style="width: 250px;">{{ $participant.full_name }}</td>
                <td>
                    {{ if ne $participant.project_link "" }}
                    <a href="{{ $participant.project_link }}">
                        {{$participant.project_title }}
                    </a>
                    {{ else }}
                    {{$participant.project_title }}
                    {{ end }}
                </td>
            </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}