<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Expertise</th>
        </tr>
    </thead>
    <tbody>
        {{ range $collaborator, $collaboratorData := site.Data.members.past_collaborators }}
        {{ $start_year := index (split $collaboratorData.tardis_collaboration.start_date "-") 2 }}
        {{ $end_year := index (split $collaboratorData.tardis_collaboration.end_date "-") 2 }}
        <tr>
            <td>{{ $collaboratorData.full_name }} ({{ $start_year }} - {{$end_year }})</td>
            <td>{{ delimit $collaboratorData.tardis_collaboration.expertise ", " }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>