{{ $currentYear := int site.Params.gsoc_year }}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Years</th>
        </tr>
    </thead>
    <tbody>
        {{ range $mentor, $mentorData := site.Data.members.gsoc_mentors }}
        {{ $pastYears := slice }}
        {{ range $mentorData.years }}
            {{ if lt (int .) $currentYear }}
                {{ $pastYears = $pastYears | append . }}
            {{ end }}
        {{ end }}
        {{ if $pastYears }}
        <tr>
            <td>{{ $mentorData.full_name }}</td>
            <td>{{ delimit $pastYears ", " }}</td>
        </tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>
