<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Years</th>
        </tr>
    </thead>
    <tbody>
        {{ range $data := site.Data.members.past_gsoc_participants }}
            {{ $participantName := printf "%s %s" $data.first_name $data.last_name }}
            {{ $participantYears := slice }}
            {{ range $gsoc := $data.experiences }}
                {{ range $participation := $gsoc.gsoc_participation }}
                    {{ $yearData := $participation.year }}
                    {{ if ne $yearData "2023" }}
                        {{ $participantYears = $participantYears | append $yearData }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ if gt (len $participantYears) 0 }}
                <tr>
                    <td>{{ $participantName }}</td>
                    <td>{{ delimit $participantYears ", " }}</td>
                </tr>
            {{ end }}
        {{ end }}
    </tbody>
</table>