<div class="presentation">
    <div class="presentation_section">
        <div class="info-box">
            <p>{{ .Get "info_text"| markdownify }}</p>
        </div>
        {{ if eq (.Get "preview_type") "pdf"}}
        <div class="preview-box">
            <div class="preview-pdf" >
                <iframe src="{{ .Get `embed_link` }}" width="100%" height="100%"  allow="autoplay"></iframe>
            </div>
        </div>
        {{ end }}
        {{ if eq (.Get "preview_type") "video"}}
        <div class="preview-box">
            <div class="preview-video" >
                <iframe src="{{ .Get `embed_link` }}" width="100%" height="100%"  allow="autoplay"></iframe>
            </div>
        </div>
        {{ end }}
    </div>
</div>