{{ $data := .Page.Site.Data.summer_of_code }}

<h2>GSoC/SoCIS Students</h2>
<p>The <a href="https://summerofcode.withgoogle.com/" target="_blank" rel="noopener nofollow">Google Summer of Code (GSoC)</a> is a global program organized by Google where students work with an open source organization on a programming project during Summers. <a href="https://www.esa.int/Enabling_Support/Space_Engineering_Technology/SOCIS_The_ESA_Summer_of_Code_in_Space" target="_blank" rel="noopener nofollow">Summer of Code In Space (SoCIS)</a> is another similar program by ESA that aims at promoting open-source "space-related" software to students by letting them code new functionalities.</p>

<table>
    <thead>
        <tr>
			<th>Name</th>
            <th>Program</th>
			<th>Year</th>
            <th>City</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        {{ range $participant := $data }}
        <tr>
			<td>{{ $participant.name }}</td>
            <td>{{ $participant.project_title }}</td>
            <td>{{ $participant.year }}</td>
			<td>{{ $participant.city }}</td>
			<td>{{ $participant.country }}</td>
		
        </tr>
        {{ end }}
    </tbody>
</table>
