{{ range $article := site.Data.articles.presentations }}
    {{ $tagFound := false }} 
    {{ range $tag := $article.tags}}
        {{if eq $tag "talks"}}
            {{ $tagFound = true }}
        {{ end }}
    {{ end }}
    {{if $tagFound}}
    <div class="presentation">
        <div class="presentation_section">
            <div class="info-box">
                <p>{{ $article.short_description }}</p>
            </div>
            <div class="preview-box">
                <iframe src="{{$article.cover_image}}" width="100%" height="100%"  allow="autoplay"></iframe>
            </div>
        </div>
    </div>
    {{end}}
{{ end }}